body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 400;
}
* {
    box-sizing: border-box;
}
a,
ul{
    list-style-type: none;
}
h1,
h2,
h3,
p,
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.header{
    border-bottom: 1px solid #e7e9fc;
}
.container{
    width: 1158px;
    padding: 0 15px;
    margin: auto;
}
.header-container{
    display: flex;
    align-items: center;
}

.logo{
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: block;
    margin-right: 76px;
}

.logo-accent{
    color: #2e2f42;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.navigation{
    display: flex;
    align-items: center;
}
.nav-list{
    display: flex;
    gap: 40px;
}

.address-list{
    display: flex;
    gap: 40px;
}
.nav-link{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    margin-right: 24px 0;
    display: block;
    padding: 24px 0;
}

.nav-link:hover {
     color: #404bbf;
}
.nav-link:focus {
    color: #404bbf;
}
.contacts-email{
    font-style: normal;
    margin-left: auto;
}
.contacts{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}
.contacts:hover {
    color: #404bbf;
}
.contacts:focus{
    color: #404bbf;
}

.main-container{
    display: inline-block;
    align-items: center;
    padding: 188px 0;
}
.section-one{
    background-color: #2e2f42;
    align-items: center;
}
.title-section{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
}

.button{
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    align-items: center;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}
.button:hover{
    background-color: #404BBF;
}
.button:focus{
    background-color: #404BBF;
}

.main-content{
    padding-top: 120px;
    padding-bottom: 120px;
}
.container-content{
    display: flex;
    gap: 24px;
}
.one-content{
    width: calc((100% - 72px) / 4);
}
.content-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.content{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.section-two {
    background-color: #F4F4FD;
    padding: 120px 0;
}
.title-section-two{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.main-images{
    display: flex;
    gap: 24px;
}

.images{
    background-color: #ffffff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.main-name{
    padding: 32px 0;
}
.title-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}
.content-two{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}
.section-three{
    padding-top: 120px;
    padding-bottom: 120px;
}
.main-images-two{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.images-two{
    width: calc((100% - 48px) / 3);
}
.title-section-three{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.content-main-three{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.title-name-two{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.content-three{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.footer{
    background-color: #2e2f42;
    padding: 100px 0;
    
}
.two{
    display: inline-block;
    margin-bottom: 16px;
}
.logo-accent-two{
    color: #f4f4fd;
}
.footer-text{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}
.container-footer{
    width: 264px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 112px;
}
img{ 
    display: block;
}